<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="WindowsFormsApp7.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Syncfusion.Compression.Base" publicKeyToken="3d67ed1f87d44c89" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-20.2460.0.40" newVersion="20.2460.0.40" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Syncfusion.Licensing" publicKeyToken="632609b4d040f6b4" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-20.2460.0.40" newVersion="20.2460.0.40" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <userSettings>
    <WindowsFormsApp7.Properties.Settings>
      <setting name="Txt_Database" serializeAs="String">
        <value />
      </setting>
      <setting name="Txt_Ins_Layout_2D" serializeAs="String">
        <value />
      </setting>
      <setting name="Chx_Cable_Pulled" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="Chx_Cable_Ready" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="Chx_Ter_Done" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="Txt_Ins_Layout_2C" serializeAs="String">
        <value />
      </setting>
      <setting name="Txt_Ins_Layout_3A" serializeAs="String">
        <value />
      </setting>
      <setting name="Chx_No_Tray" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="Chx_No_Equipment" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="Txt_Ins_Layout_2B" serializeAs="String">
        <value />
      </setting>
      <setting name="Txt_MC_1st" serializeAs="String">
        <value />
      </setting>
      <setting name="Txt_MC_2rd" serializeAs="String">
        <value />
      </setting>
      <setting name="Txt_MC_3th" serializeAs="String">
        <value />
      </setting>
      <setting name="Chx_MC_1st" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="Chx_MC_2rd" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="Chx_MC_3th" serializeAs="String">
        <value>False</value>
      </setting>
    </WindowsFormsApp7.Properties.Settings>
  </userSettings>
</configuration>